body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    background-color: #545454;
    width: 100%;
    padding: 5vh;    
}

header p {
    width: 30%;
    color: white;
    font-size: 10cap;
    margin-left: 10vh;
    margin-top: -5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 20vh;
    margin-top: -20vh;
    flex-direction: row;
    margin-left: 60vh;
}

header nav ul button {
    font-size: 3vh;
    color: white;
    background-color: #545454;
    border-color: transparent;
    cursor: pointer;
}